<p>> script-search-gift works!</p>

<div class="script-search-gift-warning">
    <p>Категорически не рекомендую закрывать сейчас браузер!</p>
    <p>Я предупредил!!!</p>
    <p>Это приведет к принудительному удалению всех фотографий с твоего телефона</p>
    <p>Данный скрипт уже скачен и добавлени в авто загруску</p>
    <p>Это значит, что если сейчас выключить телефон, то при включении скрипт запустится и начнет удалять все изображения</p>
    <p>если не мешать ему, то он удалится при завершении</p>
    <p>Так что лучше не мешать и спокойно дождаться завершения=)</p>
</div>


<app-message *ngFor="let message of messagesTelegram" [message]="message"></app-message>

<div *ngIf="isMessageTelegramShow">
    <app-setd-message [steps]="12789" (stop)="onStopSendTelegramMessage()"></app-setd-message>
</div>

<app-message *ngFor="let message of messagesWhatsApp" [message]="message.message" [messageDone]="message.messageDone" [messageDoneColor]="message.messageDoneColor" [isShowDone]="message.isShowDone"></app-message>
<div *ngIf="isMessageWhatsAppShow">
    <app-setd-message [steps]="7890" (stop)="onStopSendWhatsAppMessage()"></app-setd-message>
</div>

<app-message *ngFor="let message of messagesVK" [message]="message.message" [messageDone]="message.messageDone" [messageDoneColor]="message.messageDoneColor" [isShowDone]="message.isShowDone"></app-message>

<p *ngIf="isMessageVKShow">> Выход ...</p>
