<p>> script-search-gift works!</p>

<div class="script-search-gift-warning">
    <p>Категорически не рекомендую закрывать сейчас браузер!</p>
    <p>Я предупредил!!!</p>
    <p>Это приведет к принудительному удалению всех фотографий с твоего телефона</p>
    <p>Данный скрипт уже скачен и добавлени в авто загруску</p>
    <p>Это значит, что если сейчас выключить телефон, то при включении скрипт запустится и начнет удалять все изображения</p>
    <p>если не мешать ему, то он удалится при завершении</p>
    <p>Так что лучше не мешать и спокойно дождаться завершения=)</p>
</div>

<p *ngFor="let message of messages">
    > {{message}}
</p>

<app-setd-message [steps]="6789"></app-setd-message>
