.gift-container {
    width: 80vh;
    margin: auto;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .receive-gift-container {
        width: auto;
    }
}

.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}

.right {
    justify-content: end;
}