<div class="terminal-container" #terminal>
    <p class="terminal-text" *ngFor="let message of messagesStepsRunScript">
        <span style="color:chartreuse;">AnyaKlepikova@google.com</span>:
        <span style="color: blue;">~/Documents/angular/marth-height$</span>
        {{message}}
    </p>
    <div *ngIf="isRunScript">
        <app-script-search-gift (stopScript)="onStropScript()"></app-script-search-gift>
    </div>
    <p class="terminal-text" *ngIf="isStropScript">
        <span style="color:chartreuse;">AnyaKlepikova@google.com</span>:
        <span style="color: blue;">~/Documents/angular/marth-height$</span>
    </p>
    <p class="terminal-text" *ngIf="isStropScript">
        <span style="color:chartreuse;">AnyaKlepikova@google.com</span>:
        <span style="color: blue;">~/Documents/angular/marth-height$</span>
        exit
    </p>
</div>
